{% extends 'main_app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/profile.css' %}">
{% endblock header %}
{% block content %}
<div id="container" class="container-fluid px-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-auto">
            <div class="alert alert-info">
                Your password has been set.
            </div>
            <a href="{% url 'login' %}">Sign In Here</a>
        </div> 
    </div>
</div>
{% endblock content %}