{% extends 'main_app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/styles.css' %}">
{% endblock header %}
{% block nav_links %}
{% include 'main_app/nav_links_super.html' %}
{% endblock nav_links %}
{% block content %}
<div class="row justify-content-center nm-5">
    <div class="col-lg-6 col-auto">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% else %}
            <div class="row pb-5"></div>
        {% endif %}
        <div class="row">
            <div class="col">
                <form method="POST" class="pos-form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="form-group">
                            <legend class="border-bottom mb-4">Update Positions</legend>
                            <label for="job_id">Existing Job IDs:</label>
                            <select class="select form-control" name="job_id" id="job_id">
                                <option value="" selected="">---------</option>
                                {% for job in jobs %}
                                <option value="{{ job.job_id }}">{{ job.job_id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {{ form|crispy }}
                        <button id="new" name="new" type="submit" class="btn btn-success" disabled>Create New</button>
                        <button id="save" name="save" type="submit" class="btn btn-outline-info" disabled>Save</button>
                        <button id="delete" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" disabled>Delete</button>
                    </fieldset>
                    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-label">Delete Position</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                    <button id="confirm" type="submit" class="btn btn-primary" name="delete">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Enable/disable buttons when form is filled/unfilled
    const enable_disable_btns = () => {
        let disabled = false;
        let inputs = $('input, select:not(#job_id)');
        for (let i = 0, n = inputs.length; i < n && !disabled; i++) {
            if (inputs[i].value == '') {
                disabled = true;
            }
        }
        if ($('#job_id').val() === '') {
            $('#new').prop('disabled', disabled);
            $('#delete, #save').prop('disabled', true);
        } else {
            $('#new').prop('disabled', true);
            $('#delete, #save').prop('disabled', disabled);
        }
    };

    $(document).ready(() => {
        $('#positions-link').addClass('active');
        // Select previously selected job id when errors found after submitting form
        $('#job_id').val("{{ selected }}");
        $('#div_id_supervisor').hide();
        $('input, select').on('input', e => enable_disable_btns());
        enable_disable_btns();

        // When job id is selected, fill out form with job details
        $('#job_id').on('change', function(e) {
            if ($(this).val() !== '') {
                $.ajax({
                    url: "{% url 'get_job' %}",
                    data: {'job_id': $(this).val()},
                    success: function(data) {
                        $('#id_position').val(data.position);
                        $('#id_wage').val(data.wage);
                        $('#id_season').val(data.season);
                        $('#id_student').val(data.student).trigger('input');
                    }
                });
            }
        });

        // Modal for job deletion
        $('#delete').on('click', function(e) {
            $('#modal-body').text(
                `Are you sure you want to delete job ${$('#job_id').val()}?`
            ); 
        });

    });
</script>
{% endblock content %}