/*Master Styles */
* {
	margin: 0;
	padding: 0;
}
body {
    text-align: left;
    
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

header {
	height: 100px;
	background: #330072;
	width: 100%;
	z-index: 10;
    margin: 0;
	position: fixed;
}
/*Navbar styles   */
.brand {
	width: 30%;
	float: left;
	line-height: 100px;
}
.brand a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.title-area {
	width: 100%;
	height: 170px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);   
	
}
.title-area h2 {
	padding-top: 15%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #333;
}

.current-area {  
	width: 100%;
	position: relative;
	top: 250px;
	height: 200px;
}
.current-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
}
.table-area {
    width: 1170px;
	margin: 0 auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    padding-bottom: 34px;
    /*width: 100%; */

}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    padding-bottom: 34px;
    width: 100%;
    background-color: #333;
  }
  
  .td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #dddddd
  }
  
  .tr:nth-child(even) {
    background-color: #dddddd;
  }
.Button-class {
    background-color: #4b5052;	
    border: 2px solid black;	
    color: whitesmoke;	
    padding: 1em 1.5em;	
    text-align: center;	
    text-decoration: none;	
    font-size: 1em;	
    display: inline-block;	
    width: 22%; 
}
.summary-area {
	width: 100%;
	position: relative;
	top: 250px;
	height: 100px;
}
.summary-area h2 {
    margin-top: 100px;
    margin-bottom: 10px;
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	
}

/*Page styles  */
.title{
    
	width: 100%;
	height: 150px;
	position: absolute;
	top: 50px;
	
}
.title h2 {
	padding-top: 10%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
    margin-bottom: 100px;
}

fieldset {   
    margin: 2em 0;
    padding: 1em 2em;
    background-color: #f2f2f2;;
    border: solid 3px #333;
    border-radius:6px;
    min-width: 200px;    	
}
label {
    display: block;
    margin-top: 1em; 
    text-align: center;

}
.checks label {
    margin-top: 0;
}
.summary-info label {
    color: crimson;
    margin-bottom: 20px;
    font-size: 25px;
	font-family: poppins;
    font-weight: bold;
    text-align: left;
    display: block;
    width: 400px;
    float: left;
}
.summary-infoAmount label {
    color: green;
    margin-bottom: 20px;
    font-size: 25px;
	font-family: poppins;
    font-weight: bold;
    text-align: left; 
    display: block;
    width: 400px;
} 

label:first-of-type {
    margin-top: 0;
}

input {
    padding: .5em;
    border: solid 1px #999;  
    
}
input[type="date"],input[type="time"]{
    border-radius:25px;
    width: 50%;
    margin: auto;
    display: block;
    padding: 10px;
}
input[type="text"]{
    border-radius:25px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
}
.checks{
    margin-bottom: 1em;
}
.checks p{
    margin-bottom: 0;
}
input[type="radio"] + label{
    display:inline-block;
    padding-top: 0;
    margin-top: 0;
}
input[type="radio"]{
    margin-left: 1.5em;
    margin-right: 0;
}
input[type="radio"]:first-of-type{
    margin-left: 1.5em;
    margin-right: 0;
}
input[type="submit"]{
   
    margin: auto;
    display: block;
    
    height:50px;
    padding: .75em 5em;
    border-radius:6px;
    background-color: #333;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
}

@media screen and (min-width: 430px) {
    fieldset{
        width:30%;
        min-width: 320px;
        margin:auto;
    }
    .checks label {
        display:inline-block;
        padding-top: .5em;
        margin-top: 0;
        margin-right: .5em;
    }
    
}
